

img {
   width: 250px;
   height: 250px;
   display: block;
 margin: 0 auto;
    border-radius: 50%;
    padding: 0;
    background-image: linear-gradient( rgba(65, 136, 228, 0.76));
  
  }

  div {


    display: block;
    margin: 0 auto;

    font-size: 0;
    border: 0px solid black;
   
    width: 95%;
    /*
    margin-top: 150px;
    margin-left: 200px;
    */
    
    }

    div > div {
      margin-left: auto;
   margin-right: auto;
       
           display: inline-block;
           font-size: 0px;
           margin: 0 auto;
           width: 20%;
        padding: 80px;
    
           
           }

     div:nth-child(n+1){

            box-sizing: border-box;
          
          
    }
 h1{
     font-size: 32px;
     text-align: center;
     font-family:"Arial"
     }
     p{
        font-size: 14px;
        color: gray;
        text-align: center;
     }
    
     .button {
        background-color: orange; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
        display: block;
        font-size: 16px;
        cursor: pointer;
      }
      