
* {
    
    padding: 0;
    margin: 0 ;
  }   
  ul {
    list-style-type: none;
    margin: auto;
    margin-left: 360px;
    padding: 0;
    overflow: hidden;
 
  }
  
  li {
    float: left;
    border-right: 1px solid #ccc;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  
  article{
      margin: auto;
      width: 1200;
      align-content: center;
      background-color: #ffffff;
      text-align: center;
      padding: 10px;
      flex: 0 0 50%;
     padding: 10px;
  
  
  }
  h1{
      text-align: left;
      font-size: 18px;
  }
  
  p{
      text-align: left;
      font-size: 18px;
  }
  
  body {
    background-color: #808080;
    margin: 0;
    text-align: center;
  }
  
  
  /* Create two equal columns that floats next to each other */
  .column {
    
    float: left;
    width: 50%;
    height: 110px; /* Should be removed. Only for demonstration */
    padding: 10px;
  }


 
  div{
    background-color: #ffffff;
    width: 70%;
  display: block;
  margin: 0 auto;
  font-size: 0;
  }

:nth-child(2){
  box-sizing: border-box;
 
}
  
  div > div{
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    font-size: 0;
    
}
  
  