* {
  
  }
  
  /* Create two equal columns that floats next to each other */
  

div{
  width: 70%;
  display: block;
  margin: 0 auto;
  font-size: 0;
 

 
  }

div > div {

     display: inline-block;
   
    text-align: center;
    font-size: 0px;
    width: 50%;
 
    padding: 20px;
    


  }
  


  h1{
font-size: 52px;

  }
  h3{
    font-size: 36px;
    
      }
  p{
    font-size: 18px;
    
     }
  
  /*
  .row:after {
    content: "";
    display: table;S
    clear: both;
  } 
   */
    

  .button {
    background-color: #00ffff; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
  }
  

  .centerh2 {
   text-align: center;
  }
  .buttona {
    background-color: #ff9900; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
    cursor: pointer;
  }
  .button2 {border-radius: 4px;}
  
  .bluetext{color: #00ffff;}
  
  .orangetext{color: #ff9900;}
  
  body {
    background-color:rgba(119, 136, 136,0.7);
   
      margin: 0;
      text-align: center;
    
  }
  .left{  
    padding: 20px;


  
  }
span {
  background-color: #ffffff;
  display: inline-block;
   
    font-size: 0px;
    width: 100%;  
    border-radius: 4px; 
    border-style: solid;
padding: 10px;

}
.right{
 
  padding: 20px;

}

  div:nth-child(n+1) {
    box-sizing: border-box;
    font-family:arial
   
}
