/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-image: url("images/erelis-background.jpg");
  height: 100vh;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

div {
  display: block;
  width: 65%;
  margin: 0 auto;
  font-size: 0;
  padding-top: 1rem;
}

div > div {
  display: inline-block;
  width: 50%;
  margin: 0 auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  padding-top: 0rem;
  padding-bottom: 1.5rem;
  padding-right: 4rem;
  padding-left: 2rem;
}

nav a {
  position: absolute;
  color: white;
  font-size: 14px;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.linkhead1:link, .linkhead1:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.linkhead1:hover, .linkhead1:active {
  color: #fce38a;
  -webkit-animation-name: itemanim;
          animation-name: itemanim;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes itemanim {
  0% {
    border-bottom: 2px solid rgba(252, 227, 138, 0);
  }
  100% {
    border-bottom: 2px solid #fce38a;
  }
}

@keyframes itemanim {
  0% {
    border-bottom: 2px solid rgba(252, 227, 138, 0);
  }
  100% {
    border-bottom: 2px solid #fce38a;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 150px;
  font-weight: bold;
  padding-top: 50px;
  color: white;
}

h3 {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  font-size: 72px;
  color: white;
  padding-top: 100px;
}

.rectangle {
  height: 3px;
  width: 50px;
  padding: 0;
  background-color: white;
}

.recsize {
  width: 3%;
  padding: 1rem;
}

.button1 {
  width: 8%;
  padding-top: 0;
}

.buttondiv1 {
  width: 100%;
  padding-top: 0;
}

button {
  background-color: rgba(255, 255, 255, 0);
  /* Green */
  color: white;
  font-family: "Montserrat", sans-serif;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  padding: 15px;
  border: 3px solid white;
}

button:link, .button:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover {
  color: #fce38a;
  border: 3px solid #fce38a;
}

#navbothead {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
}

#navbothead ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#navbothead li {
  display: inline-block;
  padding: 2rem;
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
  padding-right: 17rem;
}

#navbothead a {
  background-color: transparent;
  color: white;
  font-size: 18px;
  width: 233.5px;
  display: block;
  text-decoration: none;
  text-align: left;
  padding: 1rem;
  padding-left: 0rem;
  padding-right: 0rem;
  border-top: 3px solid white;
  font-family: "Montserrat", sans-serif;
}

.linkhead:hover {
  border-bottom: 0;
}

.linkhead::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border: 3px solid transperent;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.linkhead:hover::before {
  height: 59px;
  width: 233.5px;
  border-top: 3px solid  #f38181;
  border-right: none;
  border-bottom: none;
  border-left: none;
  -webkit-transition: width 0.5s linear 0.5s;
  transition: width 0.5s linear 0.5s;
}

span {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

section {
  height: 100vh;
}

section > h3 {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  font-size: 24px;
  color: black;
  padding-top: 110px;
}

section > h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 30px;
  color: black;
  padding-bottom: 45px;
}

.rectangle2 {
  height: 3px;
  width: 50px;
  padding: 0;
  background-color: #f38181;
}

p {
  font-family: "roboto", sans-serif;
  font-size: 15px;
}

.parpad {
  text-align: center;
  padding-bottom: 100px;
}

.imagin {
  width: 380px;
  height: 250px;
}

.divpic {
  display: inline-block;
  width: 33.3%;
  margin: 0 auto;
}

.content {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(50%, 100%);
          transform: translate(50%, 100%);
  color: white;
  text-transform: uppercase;
  font-size: 28px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 380px;
  height: 250px;
  background-image: url("images/piced1.jpg");
  background-repeat: no-repeat;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.divpic > a {
  font-family: "Montserrat", sans-serif;
  background-color: turquoise;
  position: absolute;
}

a:hover .overlay {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  opacity: 1;
}

a:hover .imagin {
  visibility: hidden;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  padding-bottom: 30px;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
}

.bluecol {
  background-color: #95e1d3;
  height: auto;
}

.divpic2 {
  display: inline-block;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 19%;
  margin: 0 auto;
  border: 1px solid #b5eae0;
}

.service {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: black;
  padding-bottom: 10px;
}

.divpic3 {
  display: inline-block;
  padding-bottom: 0;
  width: 33.3%;
  margin: 0 auto;
}

div > div > div {
  display: inline-block;
  width: 8%;
  margin: 0 auto;
  padding-top: 0;
}

.tridiv {
  display: inline-block;
  width: 65%;
  margin: 0 auto;
  padding-top: 0;
  padding-left: 1rem;
}

.background-img {
  background-image: url("images/background-mountain.jpg");
  height: 100;
}
/*# sourceMappingURL=design.css.map */