body{
    background-image: url("8_002.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}


/*
.row {

display: block;
margin: 0 auto;
padding: 0px;
font-size: 0;
border: 1px solid black;
background:rgba(255,255,255,0.8);
width: 80%;



}

*/



div {

    display: block;
    margin: 0 auto;
  
    font-size: 0;
    border: 0px solid black;
   
    width: 70%;
    /*
    margin-top: 150px;
    margin-left: 200px;
    */
    
    }
    
    /*  */
    div > div {
      
 background:rgba(255,255,255,0.8);
    padding: 20px;
    display: inline-block;
    font-size: 0px;
    width: 50%;
 
    padding: 80px;
    
    }


.left{
background: #2FF7EA;


}

.right{
background: #FF6666;

}


h1{
 font-size: 28px;
}

p{
font-size: 14px;
}

div:nth-child(n+1){

    box-sizing: border-box;
  
  
  }


  span {
      width: 100%;
     padding: 15px;
     display: inline-block;
     font-size: 0px;
  }