.button {
    background-color: orange; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    font-size: 16px;
    cursor: pointer;
  }
  h1{
    font-size: 32px;
    color: white;
    font-family:"Arial";
    text-align: left;
    }
    p{ 
        text-align: left;
       font-size: 14px;
       color:gray;
       font-family:"Arial"
    }
    div {


        display: block;
        margin: 0 auto;
    padding: 250px;
        font-size: 0;
        border: 0px solid black;
       
        width: 55%;
        /*
        margin-top: 150px;
        margin-left: 200px;
        */
        
        }
        body{
    background-image:  url(restaurant.jpg) ;
   -webkit-background-size:cover;
   background-size: cover;
   text-align: center;
        }
        
    