 * {
              box-sizing: border-box;
            }
            
            .row {
            width: 90%;
              display: block;
              border-style: solid;
              margin: 0 auto;
              font-size: 0;
            }
            
            /* Create two equal columns that sits next to each other */
          
            p {
           vertical-align: top;

                display: inline-block;
                font-size: 16px;
                width: 40%;
                margin: 0 auto;
                
              }
            img {
              display: inline-block;
              height: 20%;
          
              
            }
    