li {  
  list-style-type: none;
  margin: 0;
  position: absolute;

 }
 p{ font-size: 16px;
    text-align: center;
    font-family:"arial";

 }
 h1{ font-size: 38px;
    text-align: center;
    font-family:"arial";
    
 }
 
 
body{
  
 
}


div {
   width: 95%;
   display: block;
   margin: 0 auto;
   font-size: 0px;
  
   padding: 50px;

}
div > div{
 
   

 }
 div:nth-child(n+1){

   box-sizing: border-box;
 
 
 }
 .left{
   padding-right: 10px;
  
}
  .right{
    padding-left: 10px;
    
 }
 input{
    border: 0;
    padding: 2px;
    border-radius: 4px;
 }

 .note{
   font-size: 14px;
   color: rgb(90, 90, 90);
 }
 .thing {
   background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(65, 136, 228, 0.76)), url(wood.jpg) ;
   -webkit-background-size:cover;
   background-size: cover;
   text-align: center;
   height: 100vh;
 }

 .sub {
   background-color: black;
   display: inline-block;
   font-size: 0px;
   width: 20%;
   margin: 0px auto;
   padding: 5px;
   border-radius: 4px;
 }
 .fit{
   margin-left: auto;
   margin-right: auto;
       
           display: inline-block;
           font-size: 0px;
           margin: 0 auto;
           width: 33%;
        padding: 80px;
 }
 .fitpho{
   width: 250px;
   height: 250px;
   display: block;
   margin-left: auto;
   margin-right: auto;
    border-radius: 50%;
    padding: 15px;
    background-image: linear-gradient( rgba(65, 136, 228, 0.76));
 }
 
 div:nth-child(n+1){

   box-sizing: border-box;
 
 
}

.button1 {
   border: 0;
   background-color: rgb(20, 176, 238);
   color: white;
   padding: 2px;
   border-radius: 4px;
}

.button2 {
   background-color: orange; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
        display: block;
        font-size: 16px;
        cursor: pointer;
}
.job {
         margin-left: auto;
         margin-right: auto;
    
        display: inline-block;
        font-size: 0px;
        margin: 0 auto;
        width: 25%;
     padding: 80px;
 
        
        }

.picenter{
   display: block;
   margin: 0 auto;
}
.builderdiv{
         display: inline-block;
         font-size: 0px;
         margin: 0 auto;
         width: 50%;
         padding: 0px;
}

.inputbuild{
   border: 0px;
   border-radius: 8px;
   padding: 10px;
}

.areabuild{
   border: 0px;
   border-radius: 8px;
   padding: 15px;
}
.spanlist{
  
      display: list-item;
      padding-top: 0px;
      padding-bottom: 35px;
      padding-right: 15px;
      padding-left: 15px;
}
.alignlefttop{
   text-align: left;
   
   color: white;
padding-bottom: 50px;
   padding-top: 0px;
}

.alignleftbot{
   text-align: left;
   color: white;
   padding-bottom: 50px;
  

}
.woodimg{
   background-image: url(lagoon.jpg);
 
   background-size: cover;
   text-align: center;
   

}

.resimg{
   background-image: url(restaurant.jpg);
   background-size: cover;
   text-align: center;
   

}
.pad{
   padding: 250px;
}
.textwhite{
   color: white;
}
.alignleft2{
   text-align: left;
   color: grey;
   padding-top:70px ;
   padding-left: 20px;
}
.button3{
   border: 0;
   background-color: rgb(20, 176, 238);
   color: white;
   padding: 5px;
   border-radius: 4px;
}
.inputwidth{
   
   padding-top:70px; 
   padding-bottom: 0;
   list-style:none;
}
.inputwidth2{
   padding-left: 0px;
   padding-top:130px;
   padding-right:70px; 
   padding-bottom:70px;  
   list-style:none;
}

.builderdiv2{
   display: inline-block;
   font-size: 0px;
   margin: 0 auto;
   width: 50%;
   padding: 0;
   
}

.jobleft{
  
      text-align: left;
      margin: 0 auto;

     
}
.jobleft2{
  
   text-align: left;
   margin: 0 auto;


}
.spanlist2{
  
   display: list-item;
   padding-left: 0px;
   padding-right: 0px;
   padding-top: 0px;
   padding-bottom: 40px;

 
}
.spanlist3{
  
   display: list-item;
   padding-left: 0px;
   padding-right: 0px;
   padding-top: 0px;
   padding-bottom: 50px;

 
}
