li {  
  list-style-type: none;
  margin: 0;
  position: absolute;

 }
 p{ font-size: 16px;
    text-align: center;
    font-family:"arial";
    color: white;
 }
 h1{ font-size: 38px;
    text-align: center;
    font-family:"arial";
    color: white;
 }
 
 
body{
  
 background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(65, 136, 228, 0.76)), url(wood.jpg) ;
   -webkit-background-size:cover;
   background-size: cover;
   text-align: center;
   height: 100vh;
}


div {
   width: 70%;
   display: block;
   margin: 0 auto;
   font-size: 0px;
   text-align: center;
   padding: 20px;

}
div > div{
   background-color: black;
   display: inline-block;
   font-size: 0px;
   width: 50%;
   padding: 10px;
   border-radius: 4px;
   

 }
 div:nth-child(n+1){

   box-sizing: border-box;
 
 
 }
 .left{
   padding-right: 10px;
  
}
  .right{
    padding-left: 10px;
    
 }
 input{
    border: 0;
    padding: 2px;
    border-radius: 4px;
 }
 button{
    border: 0;
    background-color: rgb(20, 176, 238);
    color: white;
    padding: 2px;
    border-radius: 4px;
 }
 .note{
   font-size: 14px;
   color: rgb(90, 90, 90);
 }
 
