div {


    display: block;
    margin: 0 auto;

    font-size: 0;
    border: 0px solid black;
   
    width: 95%;
    /*
    margin-top: 150px;
    margin-left: 200px;
    */
    
    }
    input {
        border: 0px;
        border-radius: 8px;
        padding: 10px;
        
    }
    textarea{
        border: 0px;
        border-radius: 8px;
        padding: 10px;
    }
    div > div {
      
         
             display: inline-block;
             font-size: 0px;
             margin: 0 auto;
             width: 50%;
          padding: 80px;
      
             
             }
             h1{
                font-size: 48px;
                font-family:verdana;
                color: white;
            }
            p{
                font-size: 16px;
                font-family:verdana;
                color: white;
            }
            span{
                display: list-item;
                padding: 5px;
              }
              body{
                background-image: url("lagoon.jpg");
                background-repeat: no-repeat;
                background-attachment: fixed;  
                background-size: cover;
            }

            .button {
                background-color: #ecb313; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                border-radius: 8px;
                cursor: pointer;
              }
              div:nth-child(n+1){

                box-sizing: border-box;
              
              
        }