table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
  
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  form.solid {border-style: solid;}
  .field {
  width: 500;
}
.right{
  text-align: right;

}
.button {
background-color: #4CAF50;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}