div {


    display: block;
    margin: 0 auto;

    font-size: 0;
    border: 0px solid black;
   
    width: 75%;
    /*
    margin-top: 150px;
    margin-left: 200px;
    */
    
    }

    div > div {
      margin-left: auto;
   margin-right: auto;
       
           display: inline-block;
           font-size: 0px;
           margin: 0 auto;
           width: 25%;
        padding: 80px;
    
           
           }
      img {
    
           
        
           }
           div:nth-child(n+1){

            box-sizing: border-box;
          
          
    }
    .left{
        text-align: left;
    }
    .centre{
        display: block;
        margin: 0 auto;

    }
    h1{
        font-size: 36px;
    }
    p{
        font-size: 16px;
    }