
  
  
  /* Create two equal columns that floats next to each other */
  
  h1{
    
      font-family:arial;
      text-align: left;
      
  }
  p{
      font-family:arial;
      color: grey;
  }

 

  input{
    margin: 0;
      border-radius: 6px;
      border-color: grey;
     
    
  }
  .button {
 
    border: none;
    color: white;
    margin: 0;
 
    font-size: 16px;
    
    
    background-color: #4CAF50;
    border-radius: 3px;
   
  }

  h1{
    
    font-size: 28px;
   }
   
   p{
   font-size: 14px;
   }
   .mainimage{
     height: 100vh;
    
     margin: 0 auto;
     font-size: 0;
   }

  ul {
   
padding: 0;
  

  }
 
   
div:nth-child(n+1){

  box-sizing: border-box;


}

   
  div > div {
display: inline-block;
font-size: 16px;
width: 50%;
margin: 0 auto;
padding: 0px;
}

section {
  display: inline-block;
  vertical-align:top;
  height: 20vh;
  margin: 0 auto;
  font-size: 0;
  padding: 10px;
}
span{
  display: list-item;
  padding: 5px;
}
