
* {



   
    
  }   
  ul {
    list-style-type: none;
    margin: 0 auto;
    width: 85%;
    display: block;
    margin: auto;
    padding: 0;

 
  }
  
  li {
    
    float: left;
    border-right: 1px solid #ccc;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  

  h1{
      text-align: left;

      font-size: 16px;


  }
  
  p{
      text-align: left;

      font-size: 16px;
     }
  
  body {
    background-color: #808080;
    margin: 0;
    text-align: center;
  }
  
  

 
 

nav{
  background-color:  #111;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
  
}

div{
  
  background-color: #ffffff;
  width: 85%;
  display: block;
  margin: 0 auto;
  font-size: 0;
  padding: 15px;
  margin: 20px auto;

}



div:nth-child(n+1){

  box-sizing: border-box;


}
  
  
  div > div{
    display: inline-block;
    font-size: 16px;
    width: 50%;
    margin: 0 auto;
    padding: 0px;

  }
  