* {
    box-sizing: border-box;
  }
  .row {
    width: 90%;
      display: block;
      border-style: solid;
      margin: 0 auto;
      font-size: 0;
    }
  img {
    display: inline-block;
    margin: 0 auto;
    font-size: 0;
    width: 20%;

    
  }